.App {
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5vh 5vh 10vh 80vh;
}

.Header {
	grid-column: 1/3;
	grid-row: 1/2;
}

.Navigation {
	margin-left: 5vw;
	grid-column: 1/3;
	grid-row: 2/3;
	text-align: left;
}


.ReadAccount {
	margin-left: 5vw;
	grid-column: 1/2;
	grid-row: 4/5;
	text-align: left;
}
.CreateAccount {
}

.UpdateAccount {
	margin-left: 5vw;
	grid-column: 1/2;
	grid-row: 4/5;
	text-align: left;
}

.ControlItem {
	margin-left: 5vw;
	grid-column: 1/2;
	grid-row: 4/5;
	text-align: left;
}

.currentDataComparing {
	color: grey;
}
